In [1]:
  print("hello")

hello

In [5]:
a=5
b=6
c=a+b
print(c)

11

In [9]:
#Comments
''' hi don 
by don
'''
a=5

In [10]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [11]:
len(keyword.kwlist)

35

In [12]:
name = "ICEEM"
print(name)

ICEEM

In [13]:
print(hex(id(name)))

0x1d47d56a280

In [14]:
sum = 10 +20
print(sum)

30

In [16]:

print(hex(id(sum)))

0x7ffac6162d58

In [18]:
a=10
c=a+b
b=20
print(c)

30

In [19]:
print("DINESH")

DINESH

In [23]:
#Input function
a = int(input("Enter any number"))
b= int(input("Enter another number"))
c=a+b
print(c)

Enter any number 70
Enter another number 17

87

lname = (input("Enter your lname")

In [34]:
fname = (input("Enter your fname"))
lname=(input("Enter your lname"))
print(fname, lname, sep="||")

Enter your fname d
Enter your lname k

d||k

In [36]:
print(fname, end="  ")
print(lname)

d  k

In [41]:
a, b, c = "10" , 20, 5.6
print(a,b,c,sep="||")

10||20||5.6

In [42]:
print(fname, lname)
print("my first name is ", fname, "my last name is",lname)

d k
my first name is  d my last name is k

In [48]:
#format method
print("my first name is {} my last name is {} ".format(fname,lname))
print(f"my first name is {fname} my last name is {lname} ".format(fname,lname))

my first name is d my last name is k
my first name is d my last name is k

In [54]:
x=10
print(type(x))
z=True
print(type(z))

<class 'int'>
<class 'bool'>

In [56]:
mylist = [1, 2, 3, 4]
print(type(mylist))

<class 'list'>

In [57]:
mytuple = (1,2,3,4)
print(type(mytuple))

<class 'tuple'>

In [58]:
mytuple =(1,2,3,4)
mytuple[2]=30

TypeError: 'tuple' object does not support item assignment