In [9]:
#list method
#append
mylist =[1,2,"three",4.5,True,False]
print(len(mylist))
mylist.append(100)
print(mylist)

mylist.append([500,600,700])
print(mylist)
print(len(mylist))

6
[1, 2, 'three', 4.5, True, False, 100]
[1, 2, 'three', 4.5, True, False, 100, [500, 600, 700]]
8

In [19]:
#insert
#can add position to object
mylist.insert(2, "ICEEM")
print(mylist)
print(len(mylist))
mylist.pop(3)
#print(mylist)
mylist.pop()
mylist.append(100)

[1, 2, 'ICEEM', 'ICEEM', 'three', 4.5, True]
7

In [23]:
#remove
mylist.remove(4.5)
print(mylist)

[2, 'ICEEM', 'three', 100]

In [24]:
#copy
list1 = mylist.copy()

In [26]:
print(list1)

[2, 'ICEEM', 'three', 100]

In [27]:
list2=["A","B"]

In [28]:
#merge
new_list = list1+list2

In [29]:
print(new_list)

[2, 'ICEEM', 'three', 100, 'A', 'B']

In [31]:
#extend
list3 = ["X","Y"]
new_list.extend(list3)
print(new_list)

[2, 'ICEEM', 'three', 100, 'A', 'B', 'X', 'Y', 'X', 'Y']

In [32]:
#clear
new_list.clear()
new_list

[]

In [47]:
#strings text data
str1 = "ICEEM is a collage"
print(type(str1))
print(str1.lower())
print(str1.upper())
print(str1.title())
print(str1.capitalize())

<class 'str'>
iceem is a collage
ICEEM IS A COLLAGE
Iceem Is A Collage
Iceem is a collage

In [51]:
#replace method
name = 'SANCHIT'
name = name.replace("S", "W")
name

'WANCHIT'

In [55]:
#count method
mystr5 = "one two three one two three"
mystr5.count("two")

2

In [56]:
name.startswith("S")

False

In [57]:
name.startswith("W")

True

In [59]:
name.endswith("T")

True

In [64]:
# split
str1 =" SANCHIT is cretified CHINAR & It is TRANSGENDER & also it's GAY"
print(str1.split())
print(str1.split("&"))

['SANCHIT', 'is', 'cretified', 'CHINAR', '&', 'It', 'is', 'TRANSGENDER', '&', 'also', 'its', 'GAY']
[' SANCHIT is cretified CHINAR ', ' It is TRANSGENDER ', ' also its GAY']

In [71]:
# indxing --> positions of elements 

str1 = "ICEEM"

print(str1[1])
print(str1[-2])

C
E

In [81]:
#REVERSING
str= " ICEEM"
print(str[-1:-6:-1])

MEECI

In [86]:
#Dictionary
#collection of data in form of key of value pair 
my_student = {"name":"Amit", "Age":23}
len(my_student)

2

In [87]:
my_student["name"]

'Amit'

In [90]:
students = {
    "student1": {"name":"Amit", "Age":30},
    "student2": {"name":"Sumit", "Age":28}
}
students

{'student1': {'name': 'Amit', 'Age': 30},
 'student2': {'name': 'Sumit', 'Age': 28}}

In [95]:
students["student2"]["Age"]

28

In [96]:
#DIctionary methods

students.keys()

dict_keys(['student1', 'student2'])

In [97]:
students.values()

dict_values([{'name': 'Amit', 'Age': 30}, {'name': 'Sumit', 'Age': 28}])

In [98]:
students.items()

dict_items([('student1', {'name': 'Amit', 'Age': 30}), ('student2', {'name': 'Sumit', 'Age': 28})])

In [99]:
myset = {1,2,3,4,5,6,7,8,9,1,2,3,4}
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [100]:
# Set methods
myset.add(50)
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 50}

In [101]:
myset.update([60,70,80])
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 50, 60, 70, 80}

In [106]:
myset.remove(80)

KeyError: 80

In [103]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 50, 60, 70}

In [105]:
myset.discard(80)
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 50, 60, 70}

In [145]:
#conditinal statements/ if else
# IF, ELIF& ELSE
num=eval( input("Enter Number:"))
if  num>=80:
    print("Grade A")
else:
    print("Grade B")

Enter Number: 90

Grade A

In [159]:
#ATM PROGRAM
username= input("Enter username")
if username=="dinesh":
    password=int(input("Enter your pin:"))
    if password==6464:
                        print("Welcome DK")
else:
    
     print("Invalid user")

Enter username dinesh
Enter your pin: 6464

Welcome DK